extends layout

block content
    h2 #{title}
        br
        br
        each article , i in articles
         ul.list-group
          li.list-group-item  
            a(href="/article/"+article._id)= article.title
            